@import "./sections/header.scss";
@import "./sections/contact.scss";
@import "./sections/about.scss";
@import "./sections/portfolio.scss";
@import "./sections/skils.scss";
@import "./sections/footer.scss";
@import "./sections/name.scss";

* {
  margin: 0;
  padding: 0;
}



li {
  list-style: none;
}

body {
  overflow-x: hidden;
}

.container {
  width: 1180px;
  margin: 0 auto;
  box-sizing: padding-box;

}

.row.grey {
  background: #F6F6F6;

}

.row {
  padding: 32px 0;
  background: #FFFFFF;

  h3 {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 20px;
  }



  .text {
    margin: 5px auto;
    width: 485.34px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}

.flex_box {
  display: flex;
  background: #FFFFFF;
}

.col {
  width: 25%;
  padding-top: 25px;
  text-align: center;
  padding-bottom: 111px;
}

.text_portfol {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 45px;
}

@media (max-width: 1024px) {
  .container {
    width: 900px;
    box-sizing: border-box;
  }
}


@media (max-width: 767px) {

  .container {
    padding: 0 20px;
    width: 100%;
  }

  .row {
    width: 100%;
    padding: 14px 0;

    .text {
      width: 100%;

      span {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 415px) {
  .flex_box {
    text-align: center;
    flex-direction: column;

  }

  h3 {
    text-align: center;
    padding-bottom: 41px;
  }

  .col {
    width: 100%;
    padding-bottom: 41px;

    .sign {
      text-align: center;
    }

    .bott {
      text-align: center;
      padding-bottom: 20px;
    }

    .signer {
      text-align: center;
      padding-bottom: 20px;
    }
  }

  .text_portfol {
    text-align: center;
  }
}